<a href="https://colab.research.google.com/github/Yanisberre/projet3/blob/main/120ans_JO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
path = "/content/drive/MyDrive/Copie de PARIS 0224 - Data Analyst/Projets/mini projet /Farid_Yanis_Mission_data/Commun/Fichier CSV/120_years.csv.zip"
df = pd.read_csv(path)

In [52]:
print(df.head().to_markdown())

|    |   ID | Name                     | Sex   |   Age |   Height |   Weight | Team           | NOC   | Games       |   Year | Season   | City      | Sport         | Event                            | Medal   |
|---:|-----:|:-------------------------|:------|------:|---------:|---------:|:---------------|:------|:------------|-------:|:---------|:----------|:--------------|:---------------------------------|:--------|
|  0 |    1 | A Dijiang                | M     |    24 |      180 |       80 | China          | CHN   | 1992 Summer |   1992 | Summer   | Barcelona | Basketball    | Basketball Men's Basketball      | nan     |
|  1 |    2 | A Lamusi                 | M     |    23 |      170 |       60 | China          | CHN   | 2012 Summer |   2012 | Summer   | London    | Judo          | Judo Men's Extra-Lightweight     | nan     |
|  2 |    3 | Gunnar Nielsen Aaby      | M     |    24 |      nan |      nan | Denmark        | DEN   | 1920 Summer |   1920 | Summer   | Antwerpen | Football      | Football Men's Football          | nan     |
|  3 |    4 | Edgar Lindenau Aabye     | M     |    34 |      nan |      nan | Denmark/Sweden | DEN   | 1900 Summer |   1900 | Summer   | Paris     | Tug-Of-War    | Tug-Of-War Men's Tug-Of-War      | Gold    |
|  4 |    5 | Christine Jacoba Aaftink | F     |    21 |      185 |       82 | Netherlands    | NED   | 1988 Winter |   1988 | Winter   | Calgary   | Speed Skating | Speed Skating Women's 500 metres | nan     |

In [53]:
print(df.shape)

(271116, 15)

In [54]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

In [55]:
df_drop_columns = df.drop(columns=['NOC','Year','Event'])

In [56]:
print(df_drop_columns.head().to_markdown())

|    |   ID | Name                     | Sex   |   Age |   Height |   Weight | Team           | Games       | Season   | City      | Sport         | Medal   |
|---:|-----:|:-------------------------|:------|------:|---------:|---------:|:---------------|:------------|:---------|:----------|:--------------|:--------|
|  0 |    1 | A Dijiang                | M     |    24 |      180 |       80 | China          | 1992 Summer | Summer   | Barcelona | Basketball    | nan     |
|  1 |    2 | A Lamusi                 | M     |    23 |      170 |       60 | China          | 2012 Summer | Summer   | London    | Judo          | nan     |
|  2 |    3 | Gunnar Nielsen Aaby      | M     |    24 |      nan |      nan | Denmark        | 1920 Summer | Summer   | Antwerpen | Football      | nan     |
|  3 |    4 | Edgar Lindenau Aabye     | M     |    34 |      nan |      nan | Denmark/Sweden | 1900 Summer | Summer   | Paris     | Tug-Of-War    | Gold    |
|  4 |    5 | Christine Jacoba Aaftink | F     |    21 |      185 |       82 | Netherlands    | 1988 Winter | Winter   | Calgary   | Speed Skating | nan     |

In [57]:
print(df_drop_columns.shape)

(271116, 12)

In [58]:
df_na = df_drop_columns.dropna()

In [59]:
print(df_na.head().to_markdown())

|    |   ID | Name                     | Sex   |   Age |   Height |   Weight | Team    | Games       | Season   | City   | Sport      | Medal   |
|---:|-----:|:-------------------------|:------|------:|---------:|---------:|:--------|:------------|:---------|:-------|:-----------|:--------|
| 40 |   16 | Juhamatti Tapio Aaltonen | M     |    28 |      184 |       85 | Finland | 2014 Winter | Winter   | Sochi  | Ice Hockey | Bronze  |
| 41 |   17 | Paavo Johannes Aaltonen  | M     |    28 |      175 |       64 | Finland | 1948 Summer | Summer   | London | Gymnastics | Bronze  |
| 42 |   17 | Paavo Johannes Aaltonen  | M     |    28 |      175 |       64 | Finland | 1948 Summer | Summer   | London | Gymnastics | Gold    |
| 44 |   17 | Paavo Johannes Aaltonen  | M     |    28 |      175 |       64 | Finland | 1948 Summer | Summer   | London | Gymnastics | Gold    |
| 48 |   17 | Paavo Johannes Aaltonen  | M     |    28 |      175 |       64 | Finland | 1948 Summer | Summer   | London | Gymnastics | Gold    |

In [60]:
# Filtrer les sportifs français
df_francais = df_na[df_na['Team'] == 'France']
# Afficher le DataFrame filtré
print(df_francais)

            ID                       Name Sex   Age  Height  Weight    Team  \
173         73                  Luc Abalo   M  23.0   182.0    86.0  France
174         73                  Luc Abalo   M  27.0   182.0    86.0  France
175         73                  Luc Abalo   M  31.0   182.0    86.0  France
200         93             Jol Marc Abati   M  38.0   190.0    85.0  France
1044       583             Julien Absalon   M  23.0   180.0    68.0  France
...        ...                        ...  ..   ...     ...     ...     ...
264057  132134   Isabelle Yacoubou-Dehoui   F  26.0   190.0   104.0  France
264255  132240  Abdelghani "Ghani" Yalouz   M  28.0   168.0    69.0  France
265879  133031     Tony Victor James Yoka   M  24.0   200.0   105.0  France
266984  133577           Grce Zaadi Deuna   F  23.0   171.0    66.0  France
267785  133968           Jean-Louis Zanon   M  23.0   180.0    70.0  France

              Games  Season            City       Sport   Medal
173     2008 Summer  Summer         Beijing    Handball    Gold
174     2012 Summer  Summer          London    Handball    Gold
175     2016 Summer  Summer  Rio de Janeiro    Handball  Silver
200     2008 Summer  Summer         Beijing    Handball    Gold
1044    2004 Summer  Summer          Athina     Cycling    Gold
...             ...     ...             ...         ...     ...
264057  2012 Summer  Summer          London  Basketball  Silver
264255  1996 Summer  Summer         Atlanta   Wrestling  Silver
265879  2016 Summer  Summer  Rio de Janeiro      Boxing    Gold
266984  2016 Summer  Summer  Rio de Janeiro    Handball  Silver
267785  1984 Summer  Summer     Los Angeles    Football    Gold

[965 rows x 12 columns]

In [61]:
print(df_francais.head().to_markdown())

|      |   ID | Name           | Sex   |   Age |   Height |   Weight | Team   | Games       | Season   | City           | Sport    | Medal   |
|-----:|-----:|:---------------|:------|------:|---------:|---------:|:-------|:------------|:---------|:---------------|:---------|:--------|
|  173 |   73 | Luc Abalo      | M     |    23 |      182 |       86 | France | 2008 Summer | Summer   | Beijing        | Handball | Gold    |
|  174 |   73 | Luc Abalo      | M     |    27 |      182 |       86 | France | 2012 Summer | Summer   | London         | Handball | Gold    |
|  175 |   73 | Luc Abalo      | M     |    31 |      182 |       86 | France | 2016 Summer | Summer   | Rio de Janeiro | Handball | Silver  |
|  200 |   93 | Jol Marc Abati | M     |    38 |      190 |       85 | France | 2008 Summer | Summer   | Beijing        | Handball | Gold    |
| 1044 |  583 | Julien Absalon | M     |    23 |      180 |       68 | France | 2004 Summer | Summer   | Athina         | Cycling  | Gold    |

In [62]:
print(df_francais.shape)

(965, 12)