<a href="https://colab.research.google.com/github/Yanisberre/projet3/blob/main/120ans_JO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path = "/content/drive/MyDrive/Copie de PARIS 0224 - Data Analyst/Projets/mini projet /Farid_Yanis_Mission_data/Commun/Fichier CSV/120_years.csv.zip"
df = pd.read_csv(path)

In [5]:
print(df.head().to_markdown())

|    |   ID | Name                     | Sex   |   Age |   Height |   Weight | Team           | NOC   | Games       |   Year | Season   | City      | Sport         | Event                            | Medal   |
|---:|-----:|:-------------------------|:------|------:|---------:|---------:|:---------------|:------|:------------|-------:|:---------|:----------|:--------------|:---------------------------------|:--------|
|  0 |    1 | A Dijiang                | M     |    24 |      180 |       80 | China          | CHN   | 1992 Summer |   1992 | Summer   | Barcelona | Basketball    | Basketball Men's Basketball      | nan     |
|  1 |    2 | A Lamusi                 | M     |    23 |      170 |       60 | China          | CHN   | 2012 Summer |   2012 | Summer   | London    | Judo          | Judo Men's Extra-Lightweight     | nan     |
|  2 |    3 | Gunnar Nielsen Aaby      | M     |    24 |      nan |      nan | Denmark        | DEN   | 1920 Summer |   1920 | Summer   | Antwerpen | Football      | Football Men's Football          | nan     |
|  3 |    4 | Edgar Lindenau Aabye     | M     |    34 |      nan |      nan | Denmark/Sweden | DEN   | 1900 Summer |   1900 | Summer   | Paris     | Tug-Of-War    | Tug-Of-War Men's Tug-Of-War      | Gold    |
|  4 |    5 | Christine Jacoba Aaftink | F     |    21 |      185 |       82 | Netherlands    | NED   | 1988 Winter |   1988 | Winter   | Calgary   | Speed Skating | Speed Skating Women's 500 metres | nan     |

In [6]:
print(df.shape)

(271116, 15)

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

In [8]:
df_drop_columns = df.drop(columns=['NOC','Event','Height','Weight','Games'])

In [9]:
print(df_drop_columns.head().to_markdown())

|    |   ID | Name                     | Sex   |   Age | Team           |   Year | Season   | City      | Sport         | Medal   |
|---:|-----:|:-------------------------|:------|------:|:---------------|-------:|:---------|:----------|:--------------|:--------|
|  0 |    1 | A Dijiang                | M     |    24 | China          |   1992 | Summer   | Barcelona | Basketball    | nan     |
|  1 |    2 | A Lamusi                 | M     |    23 | China          |   2012 | Summer   | London    | Judo          | nan     |
|  2 |    3 | Gunnar Nielsen Aaby      | M     |    24 | Denmark        |   1920 | Summer   | Antwerpen | Football      | nan     |
|  3 |    4 | Edgar Lindenau Aabye     | M     |    34 | Denmark/Sweden |   1900 | Summer   | Paris     | Tug-Of-War    | Gold    |
|  4 |    5 | Christine Jacoba Aaftink | F     |    21 | Netherlands    |   1988 | Winter   | Calgary   | Speed Skating | nan     |

In [10]:
print(df_drop_columns.shape)

(271116, 10)

In [11]:
#df_na = df_drop_columns.dropna()

In [12]:
print(df_drop_columns.head().to_markdown())

|    |   ID | Name                     | Sex   |   Age | Team           |   Year | Season   | City      | Sport         | Medal   |
|---:|-----:|:-------------------------|:------|------:|:---------------|-------:|:---------|:----------|:--------------|:--------|
|  0 |    1 | A Dijiang                | M     |    24 | China          |   1992 | Summer   | Barcelona | Basketball    | nan     |
|  1 |    2 | A Lamusi                 | M     |    23 | China          |   2012 | Summer   | London    | Judo          | nan     |
|  2 |    3 | Gunnar Nielsen Aaby      | M     |    24 | Denmark        |   1920 | Summer   | Antwerpen | Football      | nan     |
|  3 |    4 | Edgar Lindenau Aabye     | M     |    34 | Denmark/Sweden |   1900 | Summer   | Paris     | Tug-Of-War    | Gold    |
|  4 |    5 | Christine Jacoba Aaftink | F     |    21 | Netherlands    |   1988 | Winter   | Calgary   | Speed Skating | nan     |

In [13]:
# Filtrer les sportifs français
df_francais = df_drop_columns[df_drop_columns['Team'] == 'France']
# Afficher le DataFrame filtré
print(df_francais)

            ID                                Name Sex   Age    Team  Year  \
98          34  Jamale (Djamel-) Aarrass (Ahrass-)   M  30.0  France  2012
145         52                       Patrick Abada   M  22.0  France  1976
149         56                          Ren Abadie   M  21.0  France  1956
150         56                          Ren Abadie   M  21.0  France  1956
173         73                           Luc Abalo   M  23.0  France  2008
...        ...                                 ...  ..   ...     ...   ...
270662  135362                    Michel Zucarelli   M  18.0  France  1972
270663  135362                    Michel Zucarelli   M  18.0  France  1972
271036  135538                     Jonathan Zwikel   M  22.0  France  1998
271037  135538                     Jonathan Zwikel   M  26.0  France  2002
271038  135539               Marius Edmund Zwiller   M  18.0  France  1924

        Season            City       Sport Medal
98      Summer          London   Athletics   NaN
145     Summer        Montreal   Athletics   NaN
149     Summer       Melbourne     Cycling   NaN
150     Summer       Melbourne     Cycling  Gold
173     Summer         Beijing    Handball  Gold
...        ...             ...         ...   ...
270662  Summer          Munich     Cycling   NaN
270663  Summer          Munich     Cycling   NaN
271036  Winter          Nagano  Ice Hockey   NaN
271037  Winter  Salt Lake City  Ice Hockey   NaN
271038  Summer           Paris    Swimming   NaN

[11988 rows x 10 columns]

In [14]:
print(df_francais.head().to_markdown())

|     |   ID | Name                               | Sex   |   Age | Team   |   Year | Season   | City      | Sport     | Medal   |
|----:|-----:|:-----------------------------------|:------|------:|:-------|-------:|:---------|:----------|:----------|:--------|
|  98 |   34 | Jamale (Djamel-) Aarrass (Ahrass-) | M     |    30 | France |   2012 | Summer   | London    | Athletics | nan     |
| 145 |   52 | Patrick Abada                      | M     |    22 | France |   1976 | Summer   | Montreal  | Athletics | nan     |
| 149 |   56 | Ren Abadie                         | M     |    21 | France |   1956 | Summer   | Melbourne | Cycling   | nan     |
| 150 |   56 | Ren Abadie                         | M     |    21 | France |   1956 | Summer   | Melbourne | Cycling   | Gold    |
| 173 |   73 | Luc Abalo                          | M     |    23 | France |   2008 | Summer   | Beijing   | Handball  | Gold    |

In [15]:
print(df_francais.shape)

(11988, 10)

In [16]:
df_francais['Medal'] = df_francais['Medal'].replace(np.nan, 'No Medal')

<ipython-input-16-f4ba18b24a1c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_francais['Medal'] = df_francais['Medal'].replace(np.nan, 'No Medal')

In [17]:
print(df_francais.head().to_markdown())

|     |   ID | Name                               | Sex   |   Age | Team   |   Year | Season   | City      | Sport     | Medal    |
|----:|-----:|:-----------------------------------|:------|------:|:-------|-------:|:---------|:----------|:----------|:---------|
|  98 |   34 | Jamale (Djamel-) Aarrass (Ahrass-) | M     |    30 | France |   2012 | Summer   | London    | Athletics | No Medal |
| 145 |   52 | Patrick Abada                      | M     |    22 | France |   1976 | Summer   | Montreal  | Athletics | No Medal |
| 149 |   56 | Ren Abadie                         | M     |    21 | France |   1956 | Summer   | Melbourne | Cycling   | No Medal |
| 150 |   56 | Ren Abadie                         | M     |    21 | France |   1956 | Summer   | Melbourne | Cycling   | Gold     |
| 173 |   73 | Luc Abalo                          | M     |    23 | France |   2008 | Summer   | Beijing   | Handball  | Gold     |

In [18]:
print(df_francais.shape)

(11988, 10)

In [19]:
valeurs_uniques = sorted(df_francais['Age'].unique())
print(valeurs_uniques)

[17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 30.0, 31.0, 34.0, 38.0, nan, 12.0, 13.0, 14.0, 15.0, 16.0, 29.0, 32.0, 33.0, 35.0, 36.0, 37.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 69.0, 70.0, 71.0, 72.0, 74.0, 75.0, 81.0]

In [20]:
df_france_filtre = df_francais[df_francais['Sport'].isin(['Art Competitions' , 'Alpine Skiing', 'Bobsleigh' , 'Biathlon' , 'Cross Country Skiing' , 'Curling','Figure Skating', 'Freestyle Skiing','Ice Hockey','Luge','Military Ski Patrol','Nordic Combined','Short Track Speed Skating','Skeleton','Ski Jumping','Snowboarding','Speed Skating']) == False]

In [21]:
print(df_france_filtre.head().to_markdown())

|     |   ID | Name                               | Sex   |   Age | Team   |   Year | Season   | City      | Sport     | Medal    |
|----:|-----:|:-----------------------------------|:------|------:|:-------|-------:|:---------|:----------|:----------|:---------|
|  98 |   34 | Jamale (Djamel-) Aarrass (Ahrass-) | M     |    30 | France |   2012 | Summer   | London    | Athletics | No Medal |
| 145 |   52 | Patrick Abada                      | M     |    22 | France |   1976 | Summer   | Montreal  | Athletics | No Medal |
| 149 |   56 | Ren Abadie                         | M     |    21 | France |   1956 | Summer   | Melbourne | Cycling   | No Medal |
| 150 |   56 | Ren Abadie                         | M     |    21 | France |   1956 | Summer   | Melbourne | Cycling   | Gold     |
| 173 |   73 | Luc Abalo                          | M     |    23 | France |   2008 | Summer   | Beijing   | Handball  | Gold     |

In [22]:
print(df_france_filtre.shape)

(9646, 10)

In [23]:
df_france_filtre['Sport'] = df_france_filtre['Sport'].replace('Equestrianism', 'Equestrian')

<ipython-input-23-7dbc7cfe3bc5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_france_filtre['Sport'] = df_france_filtre['Sport'].replace('Equestrianism', 'Equestrian')

In [24]:
df_france_filtre['Sport'] = df_france_filtre['Sport'].replace(['Rugby Sevens'], 'Rugby')

<ipython-input-24-24c5ac12a7b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_france_filtre['Sport'] = df_france_filtre['Sport'].replace(['Rugby Sevens'], 'Rugby')

In [25]:
df_france_filtre['Sport'] = df_france_filtre['Sport'].replace('Rhythmic Gymnastics', 'Gymnastics')

<ipython-input-25-22937b7a05fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_france_filtre['Sport'] = df_france_filtre['Sport'].replace('Rhythmic Gymnastics', 'Gymnastics')

In [26]:
df_france_filtre['Sport'] = df_france_filtre['Sport'].replace('Synchronized Swimming', 'Swimming')

<ipython-input-26-30840c8cac20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_france_filtre['Sport'] = df_france_filtre['Sport'].replace('Synchronized Swimming', 'Swimming')

In [27]:
valeurs_uniques = sorted(df_france_filtre['Sport'].unique())
print(len(valeurs_uniques))

34

In [28]:
df_france_filtre['Age'] = df_france_filtre['Age'].fillna(0)

<ipython-input-28-e7ebb7cca91d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_france_filtre['Age'] = df_france_filtre['Age'].fillna(0)

In [29]:
#df_france_filtre['Age'] = df_france_filtre['Age'].replace('', pd.NA)

In [30]:
df_france_filtre['Age'] = df_france_filtre['Age'].astype(int)

<ipython-input-30-86ba89508e12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_france_filtre['Age'] = df_france_filtre['Age'].astype(int)

In [31]:
print(df_france_filtre.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9646 entries, 98 to 271038
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      9646 non-null   int64
 1   Name    9646 non-null   object
 2   Sex     9646 non-null   object
 3   Age     9646 non-null   int64
 4   Team    9646 non-null   object
 5   Year    9646 non-null   int64
 6   Season  9646 non-null   object
 7   City    9646 non-null   object
 8   Sport   9646 non-null   object
 9   Medal   9646 non-null   object
dtypes: int64(3), object(7)
memory usage: 829.0+ KB
None

In [32]:
print(df_france_filtre.shape)

(9646, 10)

In [33]:
df_france_filtre.to_csv("/content/drive/MyDrive/Copie de PARIS 0224 - Data Analyst/Projets/mini projet /Farid_Yanis_Mission_data/Commun/Fichier CSV/120_ans_JO.csv", index = False)

In [34]:
# drop les NAN des colonnes
#df_na_fr = df_francais.dropna()
#df_na_fr = df_francais.dropna(subset=['Medal'])

In [35]:
#print(df_na_fr.head().to_markdown())

In [36]:
#print(df_na_fr.shape)

In [37]:
# voir les isna dans toutes colonnes
#print(df_na_fr.isnull().sum())